body {
  font-family: "helvetica neue";
  background-color: black;
}

.stair-line {
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: square;
}

.floor-line {
  fill: white;
}

@media all and (max-width: 480px) {
.stair-line {
  stroke-width: 2px;
}
