body {
  font-family: Futura, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

.stair-line {
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: square;
}

.floor-line {
  fill: white;
}

.instructions {
  text-align: center;
  margin-bottom: 2em;
}

@media all and (max-width: 480px) {
.stair-line {
  stroke-width: 2px;
}
